body {
    background-image: url('Img Files/gamecardbg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
#header {
    display: flex;
    height: 9vh;
    margin: 2vh;
}
#intro {
    align-self: auto;
    margin: auto;
    text-decoration: none;
    font-family: Audiowide;
    font-size: xx-large;
    color: white;
    animation: pulsing 5s infinite;
}
#Home_Page:link, #Home_Page:visited {
    color: white;
    background-color: indigo;
    padding: 20px;
    text-decoration: none;
    margin: 1vw;
    text-align: left;
    font-size: 1.5vw;
    height: fit-content;
    width: fit-content;
    position: relative;
    border: 3px solid white;
    border-radius: 10px;
}
#Home_Page:active, #Home_Page:hover {
    color: white;
    background-color: rgb(100, 0, 180);
    border: 3px solid white;
    box-shadow: 0 0 10px 10px magenta;
    border-radius: 10px;
}
#log_page:link, #log_page:visited {
    color: white;
    background-color:indigo;
    padding: 20px;
    text-decoration: none;
    margin: 1vw;
    text-align: right;
    font-size: 1.5vw;
    height: fit-content;
    width: fit-content;
    position: relative;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
}
#log_page:active, #log_page:hover {
    color: white;
    background-color: rgb(100, 0, 180);
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px magenta;
}
#cardBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    height: 90vh;
    margin-top: 6vh;
    margin-bottom: 8vh;
    perspective: 800px;
}
.card {
    position: relative;
    border:3px solid cyan;
    border-radius: 1vw;
    height: 25vh;
    width: 7.8vw;
    margin: 1vw;
    padding: 0%;
    background-color: rgb(0, 0, 93);
    transform: rotateY('0deg');
}

.card:hover {
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 0.4vw 0.3vw cyan;
    transition: transform 0.5s ease-out, box-shadow 0.9s ease 1.3s, border 0.5s ease 0.9s;
}

#frontFace { 
    position: absolute;
    height: 100%;
    width:100%;
    top: 0%;
    left: 0%;
    border-radius: 0.9vw;
    background-image: url('Img Files/cardicon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
    margin: 0%;
    padding: 0%;
    backface-visibility: hidden;
}

#backFace {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    margin: 0%; 
    padding: 0%;
    border-radius: 0.9vw;
    background-color: red;
    backface-visibility:hidden;
}



/* This designated precinct is strictly sequestered for 
the exclusive manifestation of cinematographic sequences */
@keyframes pulsing {
    0%{text-shadow: 0 0 8px cyan;}
    40% {text-shadow: 0 0 8px cyan;}
    40.40% {text-shadow: 0 0 30px red;}
    40.80% {text-shadow: 0 0 8px cyan;}
    50% {text-shadow: 0 0 12px cyan;}
    60% {text-shadow: 0 0 8px cyan;}
    74.70% {text-shadow: 0 0 8px cyan;}
    75% {text-shadow: 0 0 30px red;}
    75.30% {text-shadow: 0 0 8px cyan;}
    100% {text-shadow: 0 0 8px cyan;}
}